#about,
#contact {
  background-color: var(--bg-secondary);
  border-radius: var(--space-2);
  padding: var(--space-4);
  margin: var(--space-4);

  border: 1px solid transparent;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    border 0.3s ease;
}

#about {
  margin-bottom: 0px;
  margin-top: 0px;
}

#about:hover,
#contact:hover {
  border-color: var(--border);
  transform: translateY(-2px);
  box-shadow: 0 4px 16px rgba(52, 67, 137, 0.3);
}

h2 {
  font-family: var(--font-heading);
  font-size: var(--text-xl);
  color: var(--text-primary);
}

.intro {
  font-family: var(--font-body);
  color: var(--text-primary);
  margin-bottom: var(--space-2);
}

.resume-btn {
  background-color: var(--accent);
  border: none;
  padding: var(--space-1) var(--space-2);
  border-radius: var(--space-1);
  cursor: pointer;
  color: var(--text-primary);
  text-decoration: none;
  transition: transform 0.3s ease;
}

.resume-btn:hover {
  background-color: var(--accent-hover);
  transform: translateY(-2px);
}
