@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Valley+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --bg-primary: #0a0a0a;
  --bg-secondary: #222;
  --accent: rgb(9, 91, 126);
  --text-primary: rgb(247, 240, 240);
  --text-secondary: rgb(160, 160, 160);
  --accent-hover: rgb(9, 91, 158);
  --border: rgb(6, 68, 126);
  --nav: rgba(6, 31, 51, 0.6);

  --font-heading: "Space Grotesk", sans-serif;
  --font-body: "Valley Sans", sans-serif;

  --space-1: 8px;
  --space-2: 16px;
  --space-3: 24px;
  --space-4: 32px;
  --space-5: 40px;
  --space-6: 48px;

  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 2rem;
  --text-2xl: 3rem;
}

* {
  box-sizing: border-box;
}
