.languages-about-row {
  display: flex;
  gap: var(--space-1);
}

@media (max-width: 700px) {
  .languages-about-row {
    flex-direction: column;
  }
}

.languages-about-row > section {
  flex: 1;
}

@media (max-width: 500px) {
  #skills,
  #experience,
  #about,
  #contact,
  .footer {
    margin: var(--space-2);
    padding: var(--space-2);
  }
}

.footer {
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
  border-radius: var(--space-2);
  padding: var(--space-2) var(--space-4);
  text-align: left;
  margin: 0px var(--space-4);
  border-top: 1px solid var(--bg-primary);
}
